@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 

* {
	margin: 0;
	padding: 0
}
html {
	overflow-x:hidden;
	overflow-y:scroll;
}
a img {
	border: 0
}
a {
	text-decoration: none;
	color: #444
}
ul, ol, dl, li {
	list-style: none
}
table {
	border-collapse: collapse
}
caption {
	width: 1px;
	height: 1px;
	font-size: 0;
	overflow: hidden
}
h1, h2, h3, h4, h5, p, a, li, div, th, td, dl, dt, dd { margin:0; padding:0; font-weight:normal;}

